---
import HomeLayout from "../layouts/HomeLayout.astro";
import GridBanner from "@/components/GridBanner.astro";
---

<HomeLayout title="Kortin's Profile">
  <GridBanner class="!sm:h-32 !lg:h-48">
    <h1 class="leading-6 text-20px sm:text-[24px] lg:text-[28px]">Hello, <del>word!</del> world! 👋</h1>
  </GridBanner>
  <main class="max-w-[800px] text-neutral-400 mx-auto p-8">
    <p>
      Hi, my name is Kortin, a passionate <span class="text-orange-500">front-end developer</span> rooted in the beautiful water city of Suzhou.
      Currently, I'm contributing my skills and enthusiasm to the innovative travel tech company <a href="https://ly.com" data-hover class="text-violet-500">ly.com</a>.
    </p>
    <p>
      I am a front-end developer with more than
      <span class="text-orange-500">{new Date().getFullYear() - 2021} years</span> of experience. I have been engaged
      in front-end development since my graduation. I've been on a journey filled with challenges and creativity. To me, front-end development is more than just a profession; it's a form of magic that transforms imagination into reality, where every line of code is brimming with possibilities. I love solving problems with technology and relish the satisfaction of turning bland data into vibrant interfaces.
    </p>
    <p>
      In this rapidly evolving field, I always maintain a learner's mindset, constantly updating my skill set from HTML/CSS/JavaScript to the latest frameworks and tools, striving for mastery. Sharing knowledge is also a great joy of my job. Whether through blogs, talks, or one-on-one conversations, I am eager to share my experiences and lessons with peers and beginners alike, because I believe in the power of spreading knowledge.
    </p>
    <p>
      Beyond work, I'm a loyal <span class="text-red-400">Nintendo</span>&nbsp;<span class="text-blue-400">Switch</span> fan. The <i>Legend of Zelda</i> series is my
      favorite. It's not just my way to unwind but also a source of inspiration for my creativity. Additionally, I'm a movie enthusiast, with a special fondness for mind-bending sci-fi films that always spark my curiosity about the unknown.
    </p>

    <p>
      In short, I'm a dreamer who explores the world through code, eager to create products that make the world a better place with like-minded individuals.
    </p>
  </main>
</HomeLayout>


<style>
</style>
