---
import Layout from "../layouts/Layout.astro";
import GridBanner from "@/components/GridBanner.astro";
---

<Layout title="Kortin's Profile">
  <GridBanner class="!lg:h-100">
    <h1 class="leading-6">Hello, <del>word!</del> world! 👋</h1>
  </GridBanner>
  <main class="max-w-[800px] text-neutral-400 mx-auto p-8">
    <p>
      Hi, my name is kortin, a <span class="text-orange-500">front-end developer</span> in base Suzhou.
      Currently working at <a data-hover class="text-violet-500">ly.com</a>.
    </p>
    <p>
      I am a front-end developer with more than
      <span class="text-orange-500">{new Date().getFullYear() - 2021} years</span> of experience. I have been engaged
      in front-end development since graduation.
    </p>
    <p>
      I have always focused on front-end technology and insisted on doing what I
      like. I enjoy the process of building something interesting with code. I am
      also very happy to share my experience with others. I hope to be able to
      communicate with more people and learn from each other.
    </p>
    <p>
      Outside of work, I like to play <span class="text-red-400">Nintendo</span>&nbsp;<span class="text-blue-400">Switch</span>. The Legend of Zelda is my
      favorite. I also like to watch movies and TV series. I like to watch movies
      of all kinds, but I prefer science fiction movies.
    </p>
  </main>
</Layout>


<style>
</style>
